body {
    font-family: 'Source Code Pro', monospace;
    background: rgb(15, 15, 15);
    color: white;
}

/* Header
================================= */
.header__inner {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__logo {
    font-size: 2em;
    padding: 10px;
}

/* Intero
================================= */

.intro {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.text__field {
    font-size: 1.4em;
    width: 70%;
    text-align: justify ;
}

/* Keyboard
================================= */
.keyboard {
    margin: 100px auto 0;
    border: 1px solid #fff;
    width: 832px;
    height: 260px;
    border-radius: 20px;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    background: #000;
}

.btn {
    border: 1px solid #fff;
    width: 40px;
    height: 35px;
    border-radius: 10px;
    margin: 5px;
    text-align: center;
    font-size: 12px;
    padding-top: 5px;
    background: rgb(15, 15, 15);


    -webkit-box-shadow: 0px 5px 50px 2px rgba(0, 0, 0, 0.25) inset;
    -moz-box-shadow: 0px 5px 50px 2px rgba(0, 0, 0, 0.25) inset;
    box-shadow: 0px 5px 50px 2px rgba(0, 0, 0, 0.25) inset;

}

/* btn
==================================*/


.b1 {
    background: #ff8000;
}

.b5 {
    background: #3f3f3f;
}

.b6 {
    background: #3f3f3f;
}

.b7 {
    background: #3f3f3f;
}

.b8 {
    background: #3f3f3f;
}

.b9 {
    background: #3f3f3f;
}

.b10 {
    background: #3f3f3f;
}

.b14 {
    width: 92px;
    background: #3f3f3f;
}

.b15 {
    background: #3f3f3f;
}

.b16 {
    width: 66px;
    background: #3f3f3f;
}

.b29 {
    width: 66px;
    background: #3f3f3f;
}

.b30 {
    background: #3f3f3f;
}

.b31 {
    width: 85px;
    background: #3f3f3f;
}

.b43 {
    width: 99px;
    background: #3f3f3f;
}

.b44 {
    background: #3f3f3f;
}

.b45 {
    width: 99px;
    background: #3f3f3f;
}

.b58 {
    background: #3f3f3f;
}

.b56 {
    width: 85px;
    background: #3f3f3f;
}

.b60 {
    width: 50px;
    background: #3f3f3f;
}

.b61 {
    width: 50px;
    background: #3f3f3f;
}

.b62 {
    width: 50px;
    background: #3f3f3f;
}

.b63 {
    width: 322px;
}

.b64 {
    background: #3f3f3f;
}

.b65 {
    background: #3f3f3f;
}

.b66 {
    background: #3f3f3f;
}
